cluster:
  enabled: true
  server_name: {{ member.name }}
  server_address: {{ member.address }}:8443
  cluster_token: {{ cluster_token }}
  member_config:
  - entity: storage-pool
    name: incuslvm
    key: source
    value: {{ incus.lvm.partition }}
  # - entity: network
  #  name: incusbr0
  #  key: bridge.external_interfaces
  #  value: {{ incus.bridge.external_interface.name }}.{{ incus.bridge.external_interface.vlan }}/{{ incus.bridge.external_interface.name }}/{{ incus.bridge.external_interface.vlan }}